<%= form_with(model: img) do |form| %>
  <% if img.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(img.errors.count, "error") %> prohibited this img from being saved:</h2>

      <ul>
        <% img.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
    
    <%= form.file_field :image, direct_upload: true %>
  </div>

  <div class="field" >
    <%= form.text_area :caption %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
