

<div class="container">
  <div class="row">
  
      <% @imgs.each do |img| %>
      <div class="card  col-sm-12 col-lg-3">
    <div class="card-body p-1 h-100 ">
<%= image_tag(cloudinary_url(@img.image.key), class: 'd-block w-100') %>
    </div>
    <div class="card-body p-1">
         <p class="my-1 fw-normal fs-6"><%= img.caption %></p>
         <div class="d-grid gap-2 d-md-flex ">
         <button  class="btn btn"><%= link_to 'Show', img %></button>
         <button  class="btn btn"><%= link_to 'Edit', edit_img_path(img) %></button>
         <button class="btn btn"><%= link_to 'Destroy', img, method: :delete, data: { confirm: 'Are you sure?' } %></button>
         </div>
         </div>
    </div>
    <%end%>
  
  </div>
  </div>
