<p id="notice"><%= notice %></p>

<div style="width:300px; height:auto">
<%= image_tag(@img.image, style:"width:100%")%>
</div>
<p>
  <strong>Caption:</strong>
  <%= @img.caption %>
</p>

<%= link_to 'Edit', edit_img_path(@img) %> |
<%= link_to 'Back', imgs_path %>
