<div class="container ">

 <div class="row">

 <div class="col-md-6  d-flex justify-content-center ">
<%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRea07wmSFCTCAP01IXclG3vguSBjfb-a5R0w&usqp=CAU"%>
 </div>
    <div class="col-md-6">
 <div class="card text-center col-sm-12 col-lg-9">

   <div class="card-header">

<h3>Log In</h3>
<br></div>
    <div class="card-body p-1 ">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
 <h4> Dont have an account?</h4>

<%= render "devise/shared/links" %>
</div>
</div>
</div>
  </div>
  </div>
  </div>